.MTablePaginationInner-root-151 {
  color: rgb(255, 255, 255);
  display: flex;
  flex-shrink: 0;
}
.MuiTableCell-footer {
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  line-height: 1.3125rem;
}

.MuiTypography-root {
  margin: 0;
  color: white;
}
